<%= form_with(model: enrollment) do |form| %>
  <% if enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
        <% enrollment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.student? %>
    <%= form.hidden_field :student_id, value: current_user.id %>
  <% else current_user.admin? %>
    <div class="mb-3">
      <%= form.label :student_id, class: "form-label" %>
      <%= form.select :student_id, User.students.all.pluck(:first_name, :id), {} , { class: "form-control" } %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :enrollment_date, class: "form-label" %>
    <%= form.datetime_field :enrollment_date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :school_id, class: "form-label" %>
    <%= form.select :school_id, School.all.pluck(:name, :id), {} , { class: "form-control" } %>
  </div>

  <div class="mb-3">
    <%= form.label :course_id, class: "form-label" %>
    <%= form.select :course_id, Course.all.pluck(:name, :id), {} , { class: "form-control" } %>
  </div>

  <div class="mb-3">
    <%= form.label :batch_id, class: "form-label" %>
    <%= form.select :batch_id, Batch.all.pluck(:name, :id), {} , { class: "form-control" } %>
  </div>

  <% if current_user.school_admin? %>
      <div class="mb-3">
        <%= form.label :status, class: "form-label" %>
        <%= form.select :status, Enrollment.statuses.to_a.collect{ |a| [a[0].titleize, a[0]]}, {} , { class: "form-control" } %>
      </div>
  <% end %>

  <div class="actions text-center">
    <%= link_to 'Back', enrollments_path, class: "btn btn-secondary" %>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
