<div class="row">
  <h4 class="mb-3">Enrollments
    <% if can? :create, Enrollment %>
      <%= link_to 'New Enrollment', new_enrollment_path, class: 'btn btn-outline-success fs-6 float-end' %>
    <% end %>
  </h4>
  <div class="card">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Enrollment date</th>
          <th>School</th>
          <th>Course</th>
          <th>Batch</th>
          <th>Student</th>
          <th>Status</th>
          <th width="16%">Actions</th>
        </tr>
      </thead>
    
      <tbody>
        <% @enrollments.each do |enrollment| %>
          <tr>
            <td><%= format_date_time(enrollment.enrollment_date) %></td>
            <td><%= enrollment&.school.name %></td>
            <td><%= enrollment&.course.name %></td>
            <td><%= enrollment&.batch.name %></td>
            <td><%= enrollment&.student.full_name %></td>
            <td><%= enrollment&.status&.titleize %></td>
            <td>
              <% if can? :read, Enrollment %>
                <%= link_to 'Show', enrollment, class: 'btn btn-sm btn-outline-primary' %>
              <% end %>
              <% if can? :update, Enrollment %>
                <%= link_to 'Edit', edit_enrollment_path(enrollment), class: 'btn btn-sm btn-outline-warning' %>
              <% end %>
              <% if can? :destroy, Enrollment %>
                <%= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
