<h4>Enrollment</h4>

<div class="row">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Enrollment date:</th>
            <td><%= format_date_time @enrollment.enrollment_date %></td>
          </tr>
          <tr>
            <th scope="row">School:</th>
            <td><%= @enrollment&.school.name %></td>
          </tr>
          <tr>
            <th scope="row">Course:</th>
            <td><%= @enrollment&.course.name %></td>
          </tr>
          <tr>
            <th scope="row">Batch:</th>
            <td><%= @enrollment&.batch.name %></td>
          </tr>
          <tr>
            <th scope="row">Student:</th>
            <td><%= @enrollment&.student.full_name %></td>
          </tr>
          <tr>
            <th scope="row">Status:</th>
            <td><%= @enrollment.status.titleize %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to 'Back', enrollments_path, class: "mt-5 btn btn-secondary" %>
