<%= form_with(model: school) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
        <% school.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :phone_number, class: "form-label" %>
    <%= form.text_field :phone_number, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :office_phone, class: "form-label" %>
    <%= form.text_field :office_phone, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :website, class: "form-label" %>
    <%= form.text_field :website, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :street_address, class: "form-label" %>
    <%= form.text_field :street_address, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :city, class: "form-label" %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :state, class: "form-label" %>
    <%= form.text_field :state, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :country, class: "form-label" %>
    <%= form.text_field :country, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :pin_code, class: "form-label" %>
    <%= form.text_field :pin_code, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :facilities, class: "form-label" %>
    <%= form.text_field :facilities, class: "form-control" %>
  </div>

  <div class="actions text-center">
    <%= link_to 'Back', schools_path, class: "btn btn-secondary" %>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
