<h4>School</h4>

<div class="row">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Name:</th>
            <td><%= @school.name %></td>
          </tr>
          <tr>
            <th scope="row">Email:</th>
            <td><%= @school.email %></td>
          </tr>
          <tr>
            <th scope="row">Phone number:</th>
            <td><%= @school.phone_number %></td>
          </tr>
          <tr>
            <th scope="row">Office number:</th>
            <td><%= @school.office_phone %></td>
          </tr>
          <tr>
            <th scope="row">Website:</th>
            <td><%= @school.website %></td>
          </tr>
          <tr>
            <th scope="row">Description:</th>
            <td><%= @school.description %></td>
          </tr>
          <tr>
            <th scope="row">Street address:</th>
            <td><%= @school.street_address %></td>
          </tr>
          <tr>
            <th scope="row">City:</th>
            <td><%= @school.city %></td>
          </tr>
          <tr>
            <th scope="row">State:</th>
            <td><%= @school.state %></td>
          </tr>
          <tr>
            <th scope="row">Country:</th>
            <td><%= @school.country %></td>
          </tr>
          <tr>
            <th scope="row">Pin code:</th>
            <td><%= @school.pin_code %></td>
          </tr>
          <tr>
            <th scope="row">Facilities:</th>
            <td><%= @school.facilities %></td>
          </tr>
          <tr>
            <th scope="row">Active:</th>
            <td><%= @school.active %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to 'Back', schools_path, class: "mt-5 btn btn-secondary" %>
