<h4>Course</h4>

<div class="row">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Name:</th>
            <td><%= @course.name %></td>
          </tr>
          <tr>
            <th scope="row">Course type:</th>
            <td><%= @course.course_type %></td>
          </tr>
          <tr>
            <th scope="row">Fee:</th>
            <td><%= @course.fee %></td>
          </tr>
          <tr>
            <th scope="row">Description:</th>
            <td><%= @course.description %></td>
          </tr>
          <tr>
            <th scope="row">Category:</th>
            <td><%= @course&.category.name %></td>
          </tr>
          <tr>
            <th scope="row">School:</th>
            <td><%= @course&.school.name %></td>
          </tr>
          <tr>
            <th scope="row">Learn content:</th>
            <td><%= @course.learn_content %></td>
          </tr>
          <tr>
            <th scope="row">Curriculam:</th>
            <td><%= @course.curriculam %></td>
          </tr>
          <tr>
            <th scope="row">Duration:</th>
            <td><%= @course.duration %></td>
          </tr>
          <tr>
            <th scope="row">Hours per day:</th>
            <td><%= @course.hours_per_day %></td>
          </tr>
          <tr>
            <th scope="row">Active:</th>
            <td><%= @course.active %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to 'Back', courses_path, class: "mt-5 btn btn-secondary" %>
